:root {
  --design-width: 390px;
  --design-height: 680px;

  --design-scale: 1;

  --render-width: 390px;
  --render-height: 680px;

  --paper: #ead5ad;
  --page-background: #d8c59f;

  --invitation-paper: #efe0bc;
  --invitation-green: #28513f;
  --invitation-red: #a63019;
  --invitation-gold: #a78042;

  --body-offset-closed: 24px;
  --body-offset-open: 50px;

  --open-flap-scale-x: 1.09;

  --card-width: 80%;
}
